<div class="login-container" style="margin-top: 100px">
  <div class="login-box">
    <h2>Sign Up</h2>
    <p class="register-link">To continue. Sign Up</p>

    <form [formGroup]="form" style="margin-top: 1rem">
      <!-- {{ message }} -->
      <!-- <h2>uppercasepipe Example</h2> -->
      <p class="register-link">{{ message | uppercase }}</p>
      <!-- name -->
      <div class="input-group">
        <label for="name">Name</label>
        <input type="name" id="name" formControlName="name" />
      </div>
      <!-- validator name -->
      <div
        *ngIf="f['name'].touched && f['name'].invalid"
        style="color: red"
        class="msgerror"
      >
        <div *ngIf="f['name'].errors && f['name'].errors['required']">
          * Name is required.
        </div>
      </div>

      <!-- mail -->
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="mail" />
      </div>
      <!-- validator email -->
      <div
        *ngIf="f['mail'].touched && f['mail'].invalid"
        style="color: red"
        class="msgerror"
      >
        <div *ngIf="f['mail'].errors && f['mail'].errors['required']">
          * Email is required.
        </div>
        <div *ngIf="f['mail'].errors && f['mail'].errors['email']">
          Invalid Email.
        </div>
      </div>

      <!-- pass -->
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="pass" />
      </div>
      <!-- validator email -->
      <div
        *ngIf="f['pass'].touched && f['pass'].invalid"
        style="color: red"
        class="msgerror"
      >
        <div *ngIf="f['pass'].errors && f['pass'].errors['required']">
          Password is required.
        </div>
      </div>

      <button type="submit" (click)="signInhandelr()" class="login-button">
        Sign Up
      </button>
      <p class="register-link">
        Already have an account? <a routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</div>
